{% include '../partial/head.twig' %}
<h3 class="text-center">{{title}}</h3>
<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-sm-5" style="padding: 20px;">
            {% if messages.error %}
                <section class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ messages.error }}
                </section>
            {% endif %}
            <form action="/users/add" method='POST'>
                <div class="input-group mb-3 input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><img src="/assets/icon/si-glyph-person.svg" width="15"></span>
                    </div>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Enter your username....">
                </div>
                <div class="input-group mb-3 input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><img src="/assets/icon/si-glyph-lock.svg" width="15"></span>
                    </div>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password...">
                </div>
                <div class="input-group mb-3 input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><img src="/assets/icon/si-glyph-lock.svg" width="15"></span>
                        </div>
                        <input type="password" id="passwordconf" name="passwordconf" class="form-control" placeholder="Enter your password confirmation...">
                    </div>
                <button type="submit" class="btn btn-success center-block">Submit</button>
            </form>
        </div>
    </div>
</div>
{% include '../partial/footer.twig' %}