    </body>
    
    <footer style="height: 100px; overflow: hidden; position: absolute; left: 0; bottom: 0; width: 100%;">
        <hr>
        <p class="text-center text-muted"> &copy; Copyright 2018 Azis Febriandi</p>
    </footer>
</html>