<html>
    <head>
        <title>Crud-Sequelize</title>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/dataTables.bootstrap4.css">
        <script src="/assets/js/jquery.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src='/assets/js/jquery.dataTables.js'></script>
        <script src="/assets/js/dataTables.bootstrap4.js"></script>
        <script src='/assets/js/main.js'></script>
        <style>
                body {
                    font-size: 0.875rem;
                 }

                 .table{
                     font-size: 0.875rem;
                 }

                 .table tr td {
                     padding: 5px;
                 }

                 .btn-sm {
                    font-size: 0.675rem;
                    padding: 3px 3px;

                 }
        </style>

    </head>
    <body>
    